@CHARSET "UTF-8";

.navbar .navbar-brand {
	font-size: x-large;
}

.navbar .navbar-nav {
	padding-top: 3px;
}

.home-main {
	padding-top: 150px;
	text-align: center;
}

#content {
	padding-top: 100px;
}

.page-heading {
	text-align: center;
}

.frame {
	border-radius: 25px;
	border: 1px grey solid;
	padding: 35px;
}

textarea {
	width: 100%;
}

.errors {
	color: red;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 40px;
}

.home-search-box {
	margin-top: 100px;
}

#results-page-title {
	text-align: center;
}

.results-image {
	float: left;
	padding-right: 35px;
}

.results-text {
	font-size: larger;
}

.edit-links {
	margin-top: 10px;
	text-align: right;
}

.login-error {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

.message {
	font-size: larger;
	margin-top: 50px;
	color: red;
}

#profile-photo-status {
	position: absolute;
	top: 5px;
	left: 30px;
	font-weight: bold;
	color: blue;
}

.profile-header {
	text-align: center;
	font-size: larger;
}

#profile-photo {
	padding-bottom: 10px;
}

.profile-text {
	font-size: larger;
}

#profile-edit-button {
	text-align: right;
}

#profile-update-button {
	text-align: right;
	padding-top: 15px;
}

#photoUploadForm {
	display: none;
}

div[role=status] {
	display: none;
}

.about-text {
	font-size: larger;
	text-align: center;
}

#footer {
	text-align: center;
	margin-top: 25%;
	position: relative;
	bottom: 40px;
}